{% extends "posty_base.html" %}
{% block contents %}
    <section class="jumbotron">
            <div class=”container”>
                <h1 id="tytul_strony">Moje wpisy</h1>
            </div>
    </section>
    {% for post in rekordy %}
    <section class="jumbotron">
            <div class=”container”>
                <h1>{{ post['tytul'] }}</h1>
                <hr>
                <p style="text-align: justify">{{ post['tresc'] }}</p>
                <form action="{{ url_for('delrec') }}" method="POST">
                    <input class="btn btn-outline-danger btn-sm" type = "submit" value = "Usuń"/>
                    <input type="hidden" name="post_id" value="{{ post['id'] }}">
                </form>
            </div>
    </section>
    {% endfor %}

{% endblock %}